
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03a9f4;
    transition: .5s;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
}


body.active{
    background-color: #f43648;
}

.container{
    width: 800px;
    height: 500px;
    padding: 40px  0;
    position: relative;
}

.block{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;

}

/* Елементи блоку */

.block-item{
    text-align: center;
    width: 50%;
}


.block-item__tittle{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    margin-bottom: 10px;
}

.block-item__btn{
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    background-color: white;
    color: #333;
    font-size: 16px;
    font-weight: 500; 
}


.form-box{
    background-color: white;
    height: 100%;
    width: 50%;
    box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

    transition: .5s ease-in-out;

    display: flex;
    align-items: center;

    overflow: hidden;
}

.form-box.active{
    left: 50%;
}



.form{
    width: 100%;
    padding: 50px;
    font-size: 16px;

    position: absolute;

    transition: .5s;
}

.form__signin{
    left: 0;
    transition-delay: .25s;
}

.form__signup{
    left: 100%;
    transition-delay: 0s;
}


.form-box.active .form__signin{
    left: -100%;
    transition-delay: 0s;
}
.form-box.active .form__signup{
    left: 0;
    transition-delay: .25s;
}

.gender{
    width: 100%;
    padding: 7px;
    border: 1px solid #333;
    font-size: inherit;
}

.form__tittle{
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

.form__input{
    width: 100%;
    padding: 7px;
    border: 1px solid #333;
    font-size: inherit;
}

.form__btn{
    border: none;
    cursor: pointer;
    font-size: inherit;
    background-color: #03a9f4;
    color: #fff;
    padding: 10px 50px;
}

.form__btn__signup{
    background-color: #f43648;
}

@media (max-width: 992px){
    .container{
        max-width: 400px;
        height: 650px;
        padding: 0;
        margin: 0 20px;
    }

    .block{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .block-item{
        width: 100%;
        padding: 30px 0;
    }
    
    .form-box{
        width: 100%;
        height: 500px;
        box-shadow: none;
        top: 0;
    }

    .form-box.active{
        top: 150px;
        left: 0;
    }
}

